header .intro-text .intro-heading {
    font-size: 28px;
}

.portfolio-link img {
    max-height: 200px;
    margin: auto;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.text-comment {
    padding: 10px;
    background: #f1f1f1;
}

.brand_logo {
    width: 53px;
}

#footer {
    background: #555555;
    padding: 50px 0;
    color: #999999;
}

#footer h5 {
    text-align: left;
}

#footer .blog-entries .item {
    clear: both;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: solid 1px #555555;
}

#footer .blog-entries .item .image {
    float: left;
    width: 15%;
    margin-right: 10px;
}

#footer .blog-entries .item .name {
    width: 75%;
    margin-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, .3);
}

.modal-body .tab-list .fa:hover {
    background: #A6F9FD;
    cursor: pointer;
}